@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-muted-white text-charcoal-black font-inter;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
}
